/** Reusable CSS **/
* {
	margin: 0;
	box-sizing: border-box;
	text-decoration: none;
	font-family: 'Roboto', sans-serif;
}

.header {
	box-sizing: border-box;
	width: 100%;
	height: 18vh;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1rem;
	background-color: #e9ecef;
	border-bottom: 2px solid #343a40;
}

.logo {
	display: flex;
	align-items: center;
}

.logo img {
	margin-right: 1rem;
}

.logoText a {
	font-family: 'Oswald', sans-serif;
	font-size: 3rem;
	color: #007bff;
	text-decoration: none;
}

.logIn {
	margin-right: 1rem;
	width: 10rem;
	height: 4rem;
	background-image: linear-gradient(to right, #007bff, #14daff);
	border: none;
	border-radius: 5px;
	font-family: 'Oswald', sans-serif;
	font-size: 2rem;
	box-shadow: 2px 2px 2px #343a40;
	transition-duration: 0.5s;
	transition-timing-function: ease-in;
}

.logIn:hover {
	box-shadow: none;
	transition-duration: 0.5s;
	transition-timing-function: ease-in;
}

.logOutButton {
	background-color: #e9ecef;
	border: none;
	color: #007bff;
	font-family: 'Roboto', sans-serif;
	font-size: 1rem;
	cursor: pointer;
}

.headerProfileDisplay {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
	font-family: 'Roboto', sans-serif;
	color: #343a40;
	flex-grow: 1;
	height: 18vh;
}

.headerProfileDisplay img {
	width: 75px;
	border: 5px solid #007bff;
	border-radius: 50%;
}

.profileDropDown {
	height: 10rem;
	background-color: #e9ecef;
	border: 2px solid #343a40;
	border-top: none;
	border-radius: 5px;
	border-top-left-radius: 0%;
	border-top-right-radius: 0%;
	box-shadow: 2px 2px 2px #343a40;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	width: 200px;
	position: absolute;
}

.profileDropDown div {
	border-bottom: 2px solid #343a40;
	padding: 20px;
	width: 200px;
	height: 100%;
	text-align: center;
	cursor: pointer;
}

.dropDownPara {
	text-decoration: none;
}

.headerAccount {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
	padding: 1rem;
}

.logIn a {
	text-decoration: none;
	color: #e9ecef;
}

.landingMain {
	min-height: 80vh;
	height: auto;
	width: 100%;
	background-image: url('./images/background.svg');

	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: scroll;
	padding-bottom: 2rem;
}

.landingMain h2 {
	font-family: 'Oswald', sans-serif;
	font-size: 2rem;
	text-align: center;
	color: #343a40;
}

.featureBox {
	background-color: #ffffff;
	width: 40vw;
	min-height: 40vh;
	border: 2px solid #343a40;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	gap: 1rem;
	border-radius: 5px;
	padding: 1rem;
	box-shadow: 2px 2px 3px #343a40;
	margin-top: 3rem;
	margin-left: 3rem;
}

.featureBox img {
	width: 150px;
}

.featureBox h3 {
	font-family: 'Oswald', sans-serif;
	font-size: 2rem;
}

.featureBox p {
	font-family: 'Roboto', sans-serif;
}

#stack {
	width: 600px;
	margin-top: 2rem;
}

.midSection {
	min-height: 70vh;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.landingText {
	background-color: #ffffff;
	width: 90vw;
	min-height: 40vh;
	border: 2px solid #343a40;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	gap: 1rem;
	border-radius: 5px;
	padding: 1rem;
	box-shadow: 2px 2px 3px #343a40;
	margin-top: 3rem;
	margin-left: 3rem;
	font-family: 'Roboto', sans-serif;
	font-size: 1.5rem;
}

.footer {
	background-color: #e9ecef;
	height: 18vh;
	display: flex;
	align-items: center;
	justify-content: center;
	border-top: 2px solid #343a40;
}

.sidebar {
	min-height: 80vh;
	background-color: #e9ecef;
	width: 10vw;
	border-right: 2px solid #343a40;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.sidebarSection {
	border-bottom: 2px solid #343a40;
	width: 9vw;
	height: 8vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

/** DASHBOARD CSS **/

.dashboard {
	min-height: 80vh;
	height: auto;
	width: 100%;
	background-image: url('./images/background.svg');
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: scroll;
	padding-bottom: 2rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
}

.main {
	display: flex;
}

.quickActions {
	min-height: 30vh;
	width: 98%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	background-color: #ffffff;
	border: 2px solid #343a40;
	border-radius: 5px;
	box-shadow: 2px 2px 2px #343a40;
	margin-top: 3rem;
}

.quickActions h2 {
	font-family: 'Oswald', sans-serif;
	color: #007bff;
	font-size: 3rem;
}

.quickActionsButtonDisplay {
	width: 90%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
}

.quickActionButton {
	background-image: linear-gradient(to right, #007bff, #14daff);
	border: none;
	border-radius: 5px;
	font-family: 'Oswald', sans-serif;
	font-size: 2rem;
	box-shadow: 2px 2px 2px #343a40;
	transition-duration: 0.5s;
	transition-timing-function: ease-in;
	color: #343a40;
	padding: 0.5rem;
}

.quickActionButton:hover {
	box-shadow: none;
	transition-duration: 0.5s;
	transition-timing-function: ease-in;
}

.modalBackground {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: #007bff68;
	display: flex;
	justify-content: center;
	align-items: center;
}

.modal {
	background-color: #ffffff;
	padding: 2rem;
	border: 2px solid #343a40;
	border-radius: 5px;
	box-shadow: 2px 2px 2px #343a40;
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 50vh;
	min-width: 50vw;
}

.modal button[type='submit'] {
	background-image: linear-gradient(to right, #007bff, #14daff);
	border: none;
	border-radius: 5px;
	font-family: 'Oswald', sans-serif;
	font-size: 1rem;
	box-shadow: 2px 2px 2px #343a40;
	transition-duration: 0.5s;
	transition-timing-function: ease-in;
	color: #343a40;
	padding: 0.5rem;
}

.closeModal {
	display: flex;
	align-self: flex-end;
	background-color: #ffffff;
	border: none;
	font-size: 1.5rem;
	color: #007bff;
}

.closeModal:hover {
	cursor: pointer;
}

.modal form {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
}

.formBlock {
	padding: 0.5rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.formBlock label,
.formBlock input {
	font-family: 'Roboto', sans-serif;
	font-size: large;
}

.formBlock input {
	border: 1px solid #343a40;
	border-radius: 5px;
	padding: 0.5rem;
	background-color: #e9ecef;
}

.formBlock select {
	width: 150%;
	height: 2rem;
	background-color: #e9ecef;
	border: 1px solid #343a40;
	border-radius: 5px;
}
